/* MINESWEEPER */
.grid {
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(15, 141, 141, 0.5);
    position: absolute;
    top: 15vh;
}

.grid div {
    height: 7vh;
    width: 7vh;
    color: white;
}

.checked {
    background-color: darkslategray;
}